@use "../abstract/" as *;
@use "../base/" as *;

.display
{
    background: $very-dark-desaturated-blue3;
    margin: .9rem auto 0;
    padding: .6rem;
    border-radius: .3rem;
    width: 100%;
    color: $white1;
    font-weight: map-get($weights, bold);
    font-size: 1.1rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    gap: .3rem;
    word-break: break-all;
    overflow-x: hidden;
    
    body.second &
    {
        background: $very-light-gray;
        color: $very-dark-grayish-yellow;
    }

    body.third &
    {
        background: $very-dark-violet2;
        color: $light-yellow;
    }
}

.buttons
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: .7rem auto 0;
    background: $very-dark-desaturated-blue2;
    border-radius: .4rem;
    padding: .5rem;
    font-size: .9rem;

    body.second &
    {
        background: $grayish-red;
    }

    body.third &
    {
        background: $very-dark-violet2;
    }

    &__button 
    {
        color: $very-dark-grayish-blue4;
        font-weight: map-get($weights, medium);
        background: $light-grayish-orange;
        border-radius: .2rem;
        margin: .2rem;
        text-align: center;
        padding: .3rem;
        box-shadow: 0px -5px 0px -1px rgba(0,0,0,0.3) inset;
        cursor: pointer;

        &:hover
        {
            background: lighten($color: $light-grayish-orange, $amount: 5%);
        }

        &.active
        {
            animation: pulse;
            animation-duration: .1s;
        }

        @include break-point(portatil)
        {
            padding: .2rem;
            margin: .3rem;
        }

        body.second &
        {
            color: $very-dark-grayish-yellow;
        }

        body.third &
        {
            color: $light-yellow;
            background: $very-dark-violet3;
            box-shadow: 0px -5px 0px -1px $dark-magenta inset;

            &:hover
            {
                background: lighten($color: $very-dark-violet3, $amount: 5%);
            }
        }

        &-del
        {
            background: $desaturated-dark-blue1;
            color: $white1;
            font-size: .5rem;
            padding: .6rem 0;

            &:hover
            {
                background: lighten($color: $desaturated-dark-blue1, $amount: 5%);
            }

            @include break-point(portatil)
            {
                padding: .3rem;
                margin: .3rem;
                font-size: .6rem;
            }

            body.second &
            {
                color: $white2;
                background: $dark-moderate-cyan;

                &:hover
                {
                    background: lighten($color: $dark-moderate-cyan, $amount: 5%);
                }
            }

            body.third &
            {
                color: $white3;
                background: rgba($color: $vivid-magenta, $alpha: .4);
                box-shadow: 0px -5px 0px -1px $vivid-magenta inset;
            }

        }

        &-reset
        {
            grid-column: 1/3;
            background: $desaturated-dark-blue1;
            color: $white1;
            font-size: .5rem;
            padding: .5rem;

            &:hover
            {
                background: lighten($color: $desaturated-dark-blue1, $amount: 5%);
            }

            @include break-point(portatil)
            {
                font-size: .6rem;
            }

            body.second &
            {
                color: $white2;
                background: $dark-moderate-cyan;

                &:hover
                {
                    background: lighten($color: $dark-moderate-cyan, $amount: 5%);
                }
            }

            body.third &
            {
                color: $white3;
                background: rgba($color: $vivid-magenta, $alpha: .4);
                box-shadow: 0px -5px 0px -1px $vivid-magenta inset;
            }
        }

        &-equal
        {
            grid-column: 3/5;
            background: $red;
            color: $white1;
            font-size: .5rem;
            padding: .5rem;

            &:hover
            {
                background: lighten($color: $red, $amount: 5%);
            }

            body.second &
            {
                color: $white2;
                background: $orange;

                &:hover
                {
                    background: lighten($color: $orange, $amount: 5%);
                }
            }

            body.third &
            {
                color: $very-dark-blue;
                background: $pure-cyan;
                box-shadow: 0px -5px 0px -1px $soft-cyan inset;

                &:hover
                {
                    background: darken($color: $pure-cyan, $amount: 5%);
                }
            }
        }
    }
}